.nav {
    position: fixed;
    width: 100%;
    top: 0;
}

ul {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin-top: 0px;
}

li {
    list-style-type: none;
    display: inline;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #8b8b8b;
    padding: 15px;
}

a:hover {
    color: #37c3e0;
    padding: 15px;
}

p {
    width: 100px;
}

body {
    padding-top: 70px;
}
